<head>
	<link href="~/css/style.css" rel="stylesheet" />
	<title>Sign Up</title>
</head>
@model messager.models.Register
<div id="LoginAndRedirect-Container">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div id="registerContainer">
		@Html.ValidationSummary()
		<p class="info-paragraph">
			<span>Username</span>
			<br />
			@Html.TextBoxFor(x => x.UserName, new { @class = "inputlogin" })</p>
		<p class="info-paragraph">
			<span>Email Adress</span>
			<br />
			@Html.TextBoxFor(x => x.EmailAdress, new { @class = "inputlogin" })</p>	
		<p class="info-paragraph">
			<span>Password</span>
			<br />
			@Html.PasswordFor(x => x.Password, new { @class = "inputlogin" })</p>
		<p>
			
			<input class="customfiles" type="file" id="customfiles" name="files" multiple />
			<label id="customfilelabel" for="customfiles">Choose Photo</label>
		</p>
		<button id="ButtonRegister" type="submit">SIGN UP</button>
	</div>


}
	<div id="RedirectDiv">
		<h3>If you have account </h3>
		@Html.ActionLink("LOGIN", "Login", "Account", null, new { @class = "Button-Redirect" })
	</div>
</div>