<head>
	<link href="~/css/style.css" rel="stylesheet" />
</head>
@model messager.models.Register
<div id="LoginAndRedirect-Container">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div id="registerContainer">
		@Html.ValidationSummary()
		<p>Podaj nazwe uzytkownika @Html.TextBoxFor(x=> x.UserName, new {@class = "inputlogin"})</p>
		<p>Podaj Email uzytkownika @Html.TextBoxFor(x=> x.EmailAdress, new {@class = "inputlogin"})</p>
		<p>Podaj Haslo uzytkownika @Html.PasswordFor(x=> x.Password, new {@class = "inputlogin"})</p>
		<p>
			dodaj zdjecia <input class="customfiles" type="file" id="customfiles" name="files" multiple />
			<label id="customfilelabel" for="customfiles">Wybierz pliki</label>
		</p>
		<button id="ButtonRegister" type="submit">ZAREJESTRUJ</button>
	</div>


}
	<div id="RedirectDiv">
		<h3>jesli masz konto to zaloguj sie</h3>
		@Html.ActionLink("ZALOGUJ", "Login", "Account", null, new { @class = "Button-Redirect" })
	</div>
</div>