@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using messager.Services.Interfaces;
@using messager.models;
@using Microsoft.EntityFrameworkCore;
@inject AppDbContext _Context;
@inject HttpClient Http
@inject NavigationManager Navigation
@inject UserManager<UserModel> _userManager
@inject IUserService _UserService

<link href="css/style.css" rel="stylesheet">
@if (LoggedUser != null)
{
      <div id="LastedMessages">
        <p>ostatnie wiadomosci:</p>
        @if (UserList != null && UserList.Count != 0)
        {
            @foreach (var user in UserList)
            {
                <button class="ButtonLayOut" @onclick="@(() =>  RedirectToPage($"chat/{user.Id}"))">@user.UserName</button>
            }
        }
    </div>
    <div class="pickuser">
        <h2>znajdz znajomych  </h2>

        <div class="input">
            <input id="inputSearch" type="text" @bind="keyWords" />
            <button id="ButtonSearch" @onclick="@(() =>  GetUsers())">szukaj</button>
        </div>

        @if (Users != null && Users.Count != 0)
        {
            foreach (var user in Users)
            {

                if (user.Id != LoggedUser.Id)
                {
                    <br />
                    <button class="ButtonLayOut" @onclick="@(() => RedirectToPage($"chat/{user.Id}"))">@user.UserName</button>
                }
            }
                     
        }
       
    </div>
    <div id="FrirendOnline">
        <h2>twoi znajomi online</h2>
        @if (OnlineFreinds != null && OnlineFreinds.Count != 0)
        {
            @foreach (var user in OnlineFreinds)
            {
                <button class="ButtonLayOut" @onclick="@(() =>  RedirectToPage($"chat/{user.Id}"))">@user.UserName</button>
            }
        }
    </div>
  

}
else
{
   <h1>loading</h1>
}
@code{
    private string keyWords = "";
    private List<UserModel> OnlineFreinds;
    private List<UserModel> Users;
    private UserModel LoggedUser;
    private List<UserModel> UserList;
    private bool IsLogged;
    private HubConnection? _hubConnection;
    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
       .WithUrl(Navigation.ToAbsoluteUri("/testhub"))
       .Build();

        await _hubConnection.StartAsync();


        LoggedUser = await _UserService.GetLoggedUser(_Context);
        if(LoggedUser == null)
        {
            RedirectToPage("/Account/Login");
        }
        if (LoggedUser != null)
        {
            UserList = await Http.GetFromJsonAsync<List<UserModel>>($"api/Messenger/GetUsers?creatorId={LoggedUser.Id}");
        }

      

    }
    private void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url, forceLoad: true);
    }
    public async Task GetUsers()
    {
        
      

        var users = _userManager.Users.AsQueryable();

        if (!string.IsNullOrEmpty(keyWords))
        {
            users = users.Where(x => x.UserName.Contains(keyWords));
        }
        Users = await users.ToListAsync();
        if (Users.Contains(LoggedUser))
        {
            Users.Remove(LoggedUser);
        }
        StateHasChanged();
        

    }
}
