@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Identity;
@using messager.Services.Interfaces;
@using messager.models;
@using Microsoft.EntityFrameworkCore;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject UserManager<UserModel> _userManager
@inject IUserService _UserService
<link href="css/style.css" rel="stylesheet">
@if (IsLogged)
{

    <div class="pickuser">
        <h2>znajdz znajomych</h2>
        <div class="input">
            <input id="inputSearch" type="text" @bind="keyWords" />
            <button id="ButtonSearch" @onclick="@(() =>  GetUsers())">szukaj</button>
        </div>
        @if (Users != null)
        {
            if (Users.Count != 0)
            {
                foreach (var user in Users)
                {

                    if (user.Id != LoggedUser.Id)
                    {
                        <br />
                        <button class="ButtonLayOut" @onclick="@(() => RedirectToPage($"chat/{user.Id}"))">@user.UserName</button>
                    }
                }
            }
            else
            {
                <p>nie znaleziono znajomych</p>
            }
        }
        
    </div>
}
else
{
    <div class="button-container">
        <button class="ButtonLayOut" @onclick="@(() => RedirectToPage("account/login"))">Zaloguj się</button>
        <button class="ButtonLayOut" @onclick="@(() => RedirectToPage("account/register"))">Zarejestruj się</button>
    </div>
}
@code{
    private string keyWords = "";
    private List<UserModel> Users;
    private UserModel LoggedUser;
    private bool IsLogged;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            IsLogged = true;
        }
        else
        {
            IsLogged = false;
        }
    }
    private void RedirectToPage(string url)
    {
        NavigationManager.NavigateTo(url, forceLoad: true);
    }
    public async Task GetUsers()
    {
        LoggedUser = await _UserService.GetLoggedUser();
        var users = _userManager.Users.AsQueryable();

        if (!string.IsNullOrEmpty(keyWords))
        {
            users = users.Where(x => x.UserName.Contains(keyWords));
        }
        Users = await users.ToListAsync();
        if (Users.Contains(LoggedUser))
        {
            Users.Remove(LoggedUser);
        }
        StateHasChanged();
        

    }
}
